<section data-spy="scroll" id="localizacao">
  <div class="container">
    <h1>~ Localização ~</h1>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h2>~ Igreja ~</h2>
        <div class="card">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d995.2974742860979!2d-38.49547262406844!3d-3.768817324466218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74f4d58058af1%3A0xac7408b8d18dbb39!2zUGFyw7NxdWlhIFPDo28gSm_Do28gRXVkZXM!5e0!3m2!1spt-BR!2sbr!4v1579834600001!5m2!1spt-BR!2sbr"
            height="" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          <div class="card-body">
            <h5 class="card-title">Paróquia São João Eudes (20h)</h5>
            <p class="card-text">R. Jaime Leonel - Eng. Luciano Cavalcante, Fortaleza - CE, 60810-480.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <h2>~ Buffet ~</h2>
        <div class="card">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.2279812117804!2d-38.49131828515227!3d-3.7604877443897267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c748a8980858f5%3A0x22e081985dbe4d54!2sMango%20Casa%20de%20Eventos!5e0!3m2!1spt-BR!2sbr!4v1579886110047!5m2!1spt-BR!2sbr"
            height="" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          <div class="card-body">
            <h5 class="card-title">Mango Casa de Eventos</h5>
            <p class="card-text mango">Rua Francisco de, R. Francisco Farias Filho, 250 - Patriolino Ribeiro, Fortaleza
              - CE,
              60810-110.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
