.container {
  margin-top: 80px;
}

img {
  width: 35px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4.5vh;
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 3.5vh;
  text-align: center;
}

ul:before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px;
}

th {
  text-align: center;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.tipopag {
  padding-top: 10px;
  text-align: center;
}

label {
  padding-top: 3px;
}

.espaco {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.total {
  text-align: center;
  font-size: 4vh;
}

.btnpagar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
