<section>

  <app-barra-navegacao></app-barra-navegacao>

  <form #pagamentoForm="ngForm" (ngSubmit)="onSubmit($event);">
    <div class="container">
      <h1>~ Produtos selecionados ~</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col" style="width:100px">Qtd</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td><img [src]="item.presente.img" class="mr-3" alt="..."></td>
            <td>{{item.presente.descricao}}</td>
            <td>{{item.presente.valor | currency: 'BRL'}}</td>
            <td><input [(ngModel)]="item.quantidade" (change)="calculaTotal()" *ngIf="items.length > 0" type="number"
                name="quantidade" class="form-control" id="qtd" min="1" style="text-align: center;">
            </td>
          </tr>
          <tr *ngIf="items.length <= 0">
            <td colspan="3">
              Seu carrinho está vazio. <a routerLink="/presentes">Clique aqui para ver a lista de Presentes</a>
            </td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td style="text-align: right;">TOTAL:</td>
            <td>{{carrinho.total | currency: 'BRL'}}</td>
          </tr>
        </tbody>
      </table>
      <br />


      <br>
      <hr class="style1">
      <br>
      <h2 *ngIf="items.length > 0">~ Formas de Pagamento ~</h2> <!--  Começa forma de pagamento -->
      <div class="tipopag" *ngIf="items.length > 0">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="pagamento.forma" name="forma" id="deposito"
            value="deposito">
          <label class="form-check-label" style="margin-top: 5px;" for="deposito">
            Depósito em conta
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="pagamento.forma" name="forma" id="cartao"
            value="cartao">
          <label class="form-check-label" style="margin-top: 5px;" for="cartao">
            Cartão de Crédito
          </label>
        </div>
        <div style="margin-top: 20px;" *ngIf="pagamento.forma === 'deposito'">
          <div id="feedbackDeposito">
            <div *ngIf="mensagem" class="alert alert-success" role="alert">
              {{mensagem}}
            </div>

            <div *ngFor="let err of errors" class="alert alert-danger" role="alert">
              {{err}}
            </div>
          </div>
          <div class="form-row">
            <input type="text" class="col-12 col-md-7 form-control shadow bg-white rounded col-12 inputEditado"
              [(ngModel)]="carrinho.convidado" name="convidado" placeholder="Informe seu nome, por favor."
              style="text-align: center;">
            <button type="submit" class="btn btn-info col-12 col-md-4" style="margin-left: 4px;" *ngIf="!loading">Avise
              o Depósito na Conta!!!</button>
          </div>
          <app-loader *ngIf="loading"></app-loader>
        </div>
      </div>
      <div class="container" *ngIf="items.length > 0">
        <div class="row" style="margin-bottom: 35px;" id="contacorrente" *ngIf="pagamento.forma === 'deposito'">
          <!-- Abertura da DIV Contas correntes -->
          <div class="card text-center col-12 col-sm-6">
            <div class="card-header">
              Gabriel Veras Miranda
            </div>
            <div class="card-body">
              <p class="card-text"><strong>Banco (260)</strong> - Nu Pagamentos S.A<br>
                <strong>Ag:</strong> 0001<br>
                <strong>Conta:</strong> 8589273-1 (Conta corrente)<br>
                <strong>CPF:</strong> 600.159.123-70</p>
              <br>
              <hr class="style1">
              <br>
              <p class="card-text"><strong>Banco</strong> - Caixa Econômica Federal<br>
                <strong>Ag:</strong> 1956<br>
                <strong>Conta:</strong> 64903-4<br>
                <strong>Op:</strong> 013 (Poupança)<br>
                <strong>CPF:</strong> 600.159.123-70</p>
            </div>
          </div>
          <div class="card text-center col-12 col-sm-6">
            <div class="card-header">
              Rayane Alves Moreira Sales
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>Banco (260)</strong> - Nu Pagamentos S.A<br>
                <strong>Ag:</strong> 0001<br>
                <strong>Conta:</strong> 7340956-1 (Conta corrente)<br>
                <strong>CPF:</strong> 020.778.983-56</p>
              <br>
              <hr class="style1">
              <br>
              <p class="card-text"><strong>Banco</strong> - Bradesco<br>
                <strong>Ag:</strong> 3456<br>
                <strong>Conta:</strong> 36112-7<br>
                <strong>CPF:</strong> 020.778.983-56</p>
            </div>
          </div>
        </div> <!-- Fechamento da DIV contas correntes -->

        <div class="cartao" id="cartao" *ngIf="pagamento.forma === 'cartao'">
          <!-- Abrindo Pagamento com Cartão de crédito. -->
          <div class="row">
            <label for="convidado" class="col-12 labelEditado">Digite seu nome</label>
            <input type=" text" name="nome" [(ngModel)]="carrinho.convidado"
              class="form-control shadow bg-white rounded col-12 inputEditado" id="convidado"><br><br><br>

            <label for="cpf" class="col-12 labelEditado">Digite seu CPF</label>
            <input type="text" matInput mask="99999999999" name="cpf" [(ngModel)]="pagamento.cpf"
              class="form-control shadow bg-white rounded col-12 inputEditado" min="0" max="999" id="CPF"><br><br><br>

            <label for="email" class="col-12 labelEditado">Digite seu e-mail</label>
            <input type="email" name="email" [(ngModel)]="pagamento.email"
              class="form-control shadow bg-white rounded col-12 inputEditado" id="email"><br><br><br>
            <label class="col-12 total">Total: {{carrinho.total | currency: 'BRL'}}</label><br><br><br>

            <label for="parcela" class="col-12 labelEditado">Quantidade de Parcelas</label>
            <select class="form-control shadow bg-white rounded col-12 inputEditado" id="parcela"
              name="quantidadeParcelas" [(ngModel)]="pagamento.quantidadeParcelas">
              <option value="1">01x de {{carrinho.total | currency: 'BRL'}}</option>
              <option value="2">02x de {{carrinho.total / 2 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="3">03x de {{carrinho.total / 3 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="4">04x de {{carrinho.total / 4 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="5">05x de {{carrinho.total / 5 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="6">06x de {{carrinho.total / 6 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="7">07x de {{carrinho.total / 7 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="8">08x de {{carrinho.total / 8 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="9">09x de {{carrinho.total / 9 | currency: 'BRL'}} = {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="10">10x de {{carrinho.total / 10 | currency: 'BRL'}} =
                {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="11">11x de {{carrinho.total / 11 | currency: 'BRL'}} =
                {{carrinho.total | currency: 'BRL'}}
              </option>
              <option value="12">12x de {{carrinho.total / 12 | currency: 'BRL'}} =
                {{carrinho.total | currency: 'BRL'}}
              </option>
            </select><br><br><br>

            <label for="bandeira" class="col-12 labelEditado">Bandeira do Cartão</label>
            <select class="form-control shadow bg-white rounded col-12 inputEditado" id="bandeira" name="bandeira"
              [(ngModel)]="pagamento.cartao.bandeira">
              <option value="master" selected>MasterCard</option>
              <option value="visa">Visa</option>
            </select><br><br><br>

            <label for="numero" class="col-12 labelEditado">Número do Cartão</label>
            <input type="text" matInput mask="9999999999999999" name="numero"
              class="form-control shadow bg-white rounded col-12 inputEditado" [(ngModel)]="pagamento.cartao.numero"
              id="numero" min="0" max="9999999999999999" ng-model-options="{allowInvalid:true}"
              ui-credit-card-mask><br><br><br>

            <label for="bandeira" class="col-12 labelEditado">Código de Segurança</label>
            <input type="text" matInput mask="999" class="form-control shadow bg-white rounded col-12 inputEditado"
              name="codigoSeguranca" [(ngModel)]="pagamento.cartao.codigoSeguranca" placeholder="Código de Segurança"
              id="codigoSeguranca"><br><br><br>

            <label for="bandeira" class="col-12 labelEditado">Data de Validade</label>
            <input type="text" matInput name="validade" [(ngModel)]="pagamento.cartao.validade" mask="99/9999"
              class="form-control shadow bg-white rounded col-12 inputEditado"
              placeholder="Data de Validade. ex: 14/2000" id="validade"><br><br><br>

            <label for="bandeira" class="col-12 labelEditado">Nome Impresso no Cartão</label>
            <input type="text" name="titular" [(ngModel)]="pagamento.cartao.titular"
              class="form-control shadow bg-white rounded col-12 inputEditado" placeholder="Nome do titular do cartão."
              id="titular">
            <br><br><br><br>
          </div>
          <div id="feedback">
            <div *ngIf="mensagem" class="alert alert-success" role="alert">
              {{mensagem}}
            </div>

            <div *ngFor="let err of errors" class="alert alert-danger" role="alert">
              {{err}}
            </div>
          </div>
          <button type="submit" class="btn btn-info btnpagar" *ngIf="!loading">Efetuar Pagamento</button>
          <app-loader *ngIf="loading"></app-loader>
          <br><br><br>
        </div>
      </div><!-- Fechamento do Container das contas correntes -->
    </div>
  </form>
</section>
