<section>

  <app-barra-navegacao></app-barra-navegacao>

  <div class="container">

    <ul class="list-unstyled">
      <li class="media">
        <img src='../../assets/img/champagne.jpg' class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Comemorar nosso casamento com champagne e a beira mar.</h5>
          <input type="number" class="form-control" width="30px" placeholder="Qtd." id="qtd" disabled>
        </div>
      </li>
      <li class="media my-4">
        <img src='../../assets/img/malas.jpg' class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Conjunto de malas para a viagem mais especial de nossas vidas.</h5>
        </div>
      </li>
      <li class="media">
        <img src='../../assets/img/suporte.jpg' class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Suporte de TV.</h5>
        </div>
      </li>
    </ul>
  </div>

</section>
