section {
  background-color: rgba(255, 255, 255, 0.5);
  color: #581d22;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6.5vh;
  text-align: center;
  padding: 56px;
}

form {
  width: 40vw;
  min-width: 330px;
  text-align: center;
  margin: 0 auto;
}

label {
  padding: 1vw 0;
}

.area {
  display: inline-flex;
  width: 10vw;
  text-align: center;
  padding: 1vw 0;
}

.telefone {
  display: inline-flex;
  width: 28vw;
  margin-left: 2vw;
  /* padding: 1vw 0; */
}
