section {
  background-color: rgba(255, 255, 255, 0.5);
  color: #581d22;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 6.5vh;
  text-align: center;
  padding: 56px;
}

form {
  width: 40vw;
  min-width: 330px;
  text-align: center;
  margin: 0 auto;
}

label {
  padding: 1vw 0;
}

.area {
  display: inline-flex;
  width: 10vw;
  text-align: center;
  padding: 1vw 0;
}

.telefone {
  display: inline-flex;
  width: 28vw;
  margin-left: 2vw;
  /* padding: 1vw 0; */
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}