<section>
  <app-barra-navegacao></app-barra-navegacao>
  <app-loader *ngIf="loading"></app-loader>
  <h1>Lista de Presentes</h1>
  <p>Escolha quantos presentes desejar.</p>
  <div class="container">
    <div class="card text-center">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 cartao" *ngFor="let produto of Produtos">
          <img [src]="produto.img" width="100%" alt="...">
          <div class="card-body" height="10vh">
            <p>{{produto.descricao}}</p>
          </div>
          <h3>{{produto.valor | currency:'BRL'}}</h3>
          <button type="button" class="btn btn-info text-center" (click)="adicionarProduto(produto)">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="btnFloating" *ngIf="mostarCestinha">
    <a routerLink="/pagamento">
      <img src="../assets/img/cesta.png" width="64px" height="64px">
    </a>
  </div>
</section>
