<section data-spy="scroll" id="historia">
  <div>
    <h1>~ Nossa História ~</h1>
    <p>Nos conhecemos a cerca de 7 anos atrás, através de amigos em comum.<br>
      Ficamos amigos apenas por redes sociais e em 2015 próximo ao aniversário do Gabriel voltamos a conversar, mas
      ainda
      só por internet, e nos encontramos pessoalmente no dia 30 de abril, saímos e aconteceu o primeiro beijo.
    </p>
    <p class="espacamento">
      ~ A partir daí tudo mudou!! ~ <br>

      Começamos a namorar dia 1 de julho de 2015.<br>

      Noivamos dia 1 de março de 2019.<br>

      E vamos casar no dia 14 de março de 2020.<br>
    </p>
    <h3>~ Nosso amor é forte, lindo e verdadeiro. ~</h3>
  </div>
</section>
